
//Tipografia:
$fuente_principal: 'Montserrat', sans-serif;               //Fuente Principal a utilizar.

//Paleta de Colores:
$verde: #4cb8b3;                                         //Colores Hexadecimales.
$rosa: #f53756;                                          //
$amarillo: #fef46d;                                      //
$morado: #752f97;                                        //
$negro: #000;                                            //
$blanco: #fff;                                           //

//Tamaños Dispositivos:
$telefono: 480px;                                          //Dispositivos.
$tablet: 768px;                                            //
$desktop: 992px;                                           //
$desktopXL: 1200px;                                        //